.navbar {
    background: linear-gradient(90deg, rgba(93,56,145,1) 30%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
    width: 100vw;
    height: 50px;
}

.navbar__menu{
    padding-right: 1.5em;
}
.navbar__menu-li {
    display: flex;
    gap: 1.5em;
    font-weight:bold;
    font-size: 1rem;
}
.navbar__title a {
    color: whitesmoke;
    align-self: center;
}
a {
    color: #5D3891;
}
a:hover {
    transform: scale(1.05);
    text-shadow: 1px 2px 2px #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
}


.navbar__title a {
    color: whitesmoke;
    font-size: 1.7rem;
    text-shadow: 1px 2px 2px #5D3891;
}
