
.purchase {
    max-width: 500px;
    background-color: white;
    padding: 1em 1.5em;
    flex-direction: column;
    border-radius: 0.5em;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.purchase::after {
    content: '';
    width: 100%;
    background-color: #f3832cd4;
    border: 2px solid transparent;
    position: absolute;
    bottom:0;
}

.purchase__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1em;
    
}

.purchase__header img {
    width: 150px;
    object-fit: contain;
}

.purchase__info {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 2em;
}