.home {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.home__filter {
    width: 100%;
    max-width: 250px;
    min-width: 120px;
    padding: 2.5em 0.6em 0 1em;
}
.filter__price-header,
.filter__category-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d7d6d6;
    margin-bottom: 1.2em;
    padding-bottom: 0.3em;
}
.filter__price-header i,
.filter__category-header i {
font-size: 1.1rem;
font-weight: bold;
}
.filter__price-header i:hover,
.filter__category-header i:hover{
    cursor: pointer;
    transform: translateY(2px);
}
.filter__price-form {
    display: grid;
    gap: 1em;
}
.price__from,
.price__to {
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.6em;
    padding: 0 0 0 0.9em;
}
.price__from input,
.price__to input {
    height: 25px;
    border: 1px solid #d7d6d6;
    width: 80%;
}
.price__from input::placeholder,
.price__to input::placeholder {
    padding-left: 0.5em;
    color: #c7c7c7;
}
.price__from label,
.price__to label {
    width: 30%;
    color: #6a6a6a;
}
.price__btn{
    font-weight: bold;
    font-size: 0.7rem;
    background-color: #5D3891;
    color: whitesmoke;
    width: 75px;
    height: 30px;
    border-radius: 0.3em;
    margin-left: auto;
    cursor: pointer;
    transition: transform 100ms ease;
    transition: brightness 200ms ease;
}
.price__btn:hover {
    transform: scale(1.01);
    filter: brightness(98%);
    
}

.filter__category{
    width: 100%;
    max-width: 250px;
    min-width: 120px;
    padding: 1.5em .6em 0 0;
} 
.filter__category-list{
    font-size: 0.85rem;
    line-height: 3em;
    text-shadow: -1px 1px 1px #b5b5b5;;    
}
.filter__category-list li{
    transition: transform 100ms ease;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.1em;
}
.filter__category-list li:hover {
    transform: scale(1.03);
    color: #5D3891;
}

.home__search {
    max-width: 700px;
    margin: 2.5em auto;
}
.home__search input {
    width: 70%;
    height: 32px;
    border: 1px solid #d7d6d6;
}
.home__search input::placeholder{
    color: #d7d6d6;
    padding-left: 0.5em;
}
.home__search button {
    font-size: 1.3rem;
    width: 12%;
    height: 32px;
    background-color: #5D3891;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px #cdcdcd;
    border-radius: 0 0.2em 0.2em 0;
    transition: transform 100ms ease;
    transition: brightness 200ms ease;
}
.home__search button:hover {
    transform: scale(1.01);
    filter: brightness(95%);
    
}

.home__product-card {
    flex-wrap: wrap;
    gap: 1.3em;
    padding: 0 0.5em;
}