.loginPages {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/public/welcome.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6699;
}

.loginPages__container {
    flex-direction: column;
    gap: 1.2em;
    width: 100%;
    height: 100%;
    background-color: #0000001a;
    backdrop-filter: blur(4px);
    overflow: hidden;
}
.loginPages__welcome {
    color: white;
    font-size: 2rem;
    text-shadow: -1px 2px 2px #6a6a6a; 
}
.loginPages__form {
    width: 300px;
    height: 250px;
    flex-direction: column;
    gap: 1em;
    background-color: #a5a5a51a;
    backdrop-filter: blur(10px);
    border-radius: 0.5em;
}
.loginPages__form-user {
    font-size: 3rem;
    color: white;
    text-shadow: 0px 1px 2px #6a6a6a; 
    margin-bottom: -5px;
}
.loginPages__form div {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    gap: 0.2em;
}
.loginPages__form div label {
    font-weight: bold;
    align-self: center;
}
.loginPages__form div input {
    width: 80%;
    height: 35px;
    font-size: 0.8rem;
    font-family: inherit;
    padding: 0.3em;
}
.loginPages__form div input::placeholder {
    padding-left: 0.3em;
    font-size: 0.8rem;
}

.loginPages__register,
.loginPages__form-btn {
    width: 30%;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #5D3891;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 0.4em;
}
.loginPages__form-btn {
    margin-bottom: 0.6em;
}
.loginPages__register {
    max-width: 120px;
    background-color: #f3832cd4;
    
}

.logged {
    background-image: url(/logged.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.logged img {
width: 100px;
}

.logged_container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.457);
    filter: blur(1px);
    opacity: 0.8;
}

.logged__user {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    flex-direction: column;
    gap: 0.5em;
}
.logged__user h2 {
    color: #5D3891;
    text-shadow: 1px 1px 2px #f3832cd4;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1em;
}
.logged__btn {
    background-color: #5D3891;
    box-shadow: 0px 1px 2px 0px black;
    width: 6em;
    aspect-ratio: 2.2;
    border-radius: 0.5em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.logged__btn:hover {
    background-color: #f3832cd4;
    
}

@media (max-width: 700px) {
    .loginPages__welcome {
        margin-top: -100px;
    }
}