.productPage__header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 2em 0 0 2em;
}
.separator {
    width: 4px;
    height: 4px;
    background-color: #5d3891;
    border-radius: 50%;
    margin-top: 0.2em;
}
.productPage__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr ;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.productPage__slider {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1em;
}
.productPage__product {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1em;
}
.productPage__similar {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 0.5em;
}